/* paleta de colores 
#434343
#6B4F4F
#BF9270
#EED6C4
#FFF3E4
*/

/* llamado a las tipografías */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Raleway:wght@100;400&display=swap');


/* tipografías
font-family: 'Montserrat', sans-serif;
font-family: 'Helvetica Neue', sans-serif;
font-family: 'Barlow', sans-serif
*/
