@mixin letras {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

@mixin botones {
    background-color: #EED6C4;
    color: white;
    font-family: 'Montserrat', sans-serif;
}