/* variables header */
$colorLetrasLogoHeader: black;
$colorFondoHeader: white;

/* variables main index */
$colorFondoAclaraciones: #EED6C4;
$colorFondoInstagram: #EED6C4;

/* variables footer */
$colorFondoFooter: #434343;
$colorLetrasFooter: white;